<div class="col col-4 col-d-12">
  <div class="widget-footer widget-recent-posts">
    <h3 class="widget-title">Recent Projects</h3>
    {% assign recent_projects = site.projects | sort: 'date' | reverse %}
    {% for project in recent_projects limit:3 %}
    <div class="recent-posts">

      {% if project.image %}
      <a href="{{ project.url | relative_url }}" class="recent-posts__image">
        <img class="lazy" data-src="{{ project.image | relative_url }}" alt="{{ project.title }}">
      </a>
      {% endif %}

      <div class="recent-posts__content">
        {% if project.subtitle %}
        <span class="recent-posts__date">{{ project.subtitle }}</span>
        {% endif %}
        <h4 class="recent-posts__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h4>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
